body {
    background-color: #101010;
    font-family: monospace;
}

.title {
    color: white;    
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
}

.subtitle {
    color: orange;
    text-align: center;
    margin: 30px;
}

.btn {
    margin: 20px 0;
}

.btn a{
    color: white;
    text-decoration: none;
}

.table thead {
    color: #c8c8c8;
}

.table tbody {
    color: white;
}

@media screen and (max-width: 360px) {
    .image-fluid {
        width: 360px;
        margin: 0;
    }
    .title {
        font-size: 2em;
    }    
}

@media screen and (min-width: 480px) {
    .title {
        font-size: 3rem;
    }

    .image-fluid {
        width: 100%;
        height: 200px;                
        object-fit: cover;
        object-position: bottom;
    }

    .form {
        width: 300px;
        margin: 40px auto 20px auto;
        border: solid rgb(3, 44, 21) 8px;
        padding: 20px;
        border-radius: 20px;
    }
}

.typing {
    width: 20ch;
    animation: typing 1s steps(20), blink .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;    
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.username {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
}

form label {
    color: white;
    font-weight: bold;
}


.icon-link {
    color: white;
    text-decoration: none;
}

.cadastro-materias {
    width: 400px;
}