{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<!-- Menu -->

<button type="button" class="btn btn-sm btn-warning"><a href="{% url 'materias' %}">Cadastrar nova matéria</a></button>
<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Criar nova postagem</button>
<!-- Fim do Menu -->

<!-- Bootstrap Messages -->

{% bootstrap_messages %}

<!-- Início do Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Formulário -->                    
                    <form method="post" action="#">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                    <!-- Fim do formulário -->
                    
                </div>            
            </div>
        </div>
    </div>
<!-- Fim do Modal -->

<!-- Início da tabela com rgistros -->
<table class="table bg-dark">
    <thead>
        <th>Data</th>
        <th>Matéria</th>
        <th>Registro</th>
        <th colspan="2">Ações</th>
    </thead>
    <tbody class="table-striped">
    {% for post in registros %}
    <tr>
        <td>{{ post.data  }}</td>
        <td>{{ post.materia }}</td>
        <td>{{ post.registro }}</td>                  
        <td><a href="" class="icon-link"><i class="far fa-edit"></i></a></td>
        <td><a href="" class="icon-link"><i class="fas fa-trash-alt"></i></a></td>                    
    </tr>   
    {% endfor %}
    </tbody>
</table>

{% endblock %}